<%- include("../partials/header")%>
<div class="conatiner-fluid result">
<h1 class="text-center comment-header"><%=comment%></h1>
<%if(match){%>
<%let displayed=false%>
    <div id="content">
    <%textArr.forEach((text,i)=>{%>
      <div id="code-<%=i%>">
        <div class="d-flex justify-content-evenly displayPercentage">
          <div>
            <h1 class="file-name"><%=matchedPercentage[i].fileName%></h1>
            <h2 class="percentage"><%=matchedPercentage[i].percentage%></h2>
          </div>
          <%if(sources.length>0){%>
           <div>
             <%for(let j=0;j<sources.length;j++){%>
               <%if(sources[j].userFileName===matchedPercentage[i].fileName){%>
                <h1 class="percentage"><%=sources[j].percentage%></h1>
            <a target="_blank" href="<%=sources[j].url%>">Check Source</a>
              <%break%>
                <%}%>
             <%}%>
           </div>
          <%}%>
        </div>
        
        <%text.forEach((line,index)=>{matchedObjects[i].forEach(obj=>{%>
                       <% if(index>=obj.startIndex && index<=obj.endIndex){%>
                          <span style="color: <%=obj.color%>;">
                            <%if (line.match(/((?<=#include\s*?))?<.+?>/g)){%>
                                <%[0,...line.match(/((?<=#include\s*?))?<.+?>/g).map(el=>line.indexOf(el))].map((el,i,arr)=> line.slice(el,arr[i+1])).forEach(el=>{%>
                                      <%if(el.match(/((?<=#include\s*?))?<.+?>/g)){%>
                                        <%=el%>
                                      <%}else{%>
                                         <%-el%>
                                        <%}%>
                
                                            <%})%>
                                                <%}else{%>
                                                    <%-line%>
                                                    <%}%>
                                      <%displayed=true%>
                          </span>
                          <%}%>
           <%})%>

                        <%if(!displayed){%>
                         <span>
                            <%if (line.match(/((?<=#include\s*?))?<.+?>/g)){%>
                                <%[0,...line.match(/((?<=#include\s*?))?<.+?>/g).map(el=>line.indexOf(el))].map((el,i,arr)=> line.slice(el,arr[i+1])).forEach(el=>{%>
                                      <% if(el.match(/((?<=#include\s*?))?<.+?>/g)){%>
                                        <%=el%>
                                      <%}else{%>
                                         <%-el%>
                                        <%}%>
                
                                            <%})%>
                                                <%}else{%>
                                                    <%-line%>
                                                    <%}%>
        
                         </span>
                       <%}%>
                          <%displayed=false%>
            
                                        <br>
                                        <%})%>

      </div>
                                            <%})%>
                                   
       
                                          </div>
                                            <%}else{%>
                                               <h1>No matches found!</h1>
                                               <%for(let i=0;i<sources.length;i++){%>
                                                <h1><%=sources[i].userFileName%></h1>
                                                <h2 class="percentage"><%=sources[i].percentage%></h1>
                                                <h2><a target="_blank" href="<%=sources[i].url%>">Check Source</a></h2>
                                               <%}%>
                                            <%}%>
                                          </div>
                                                <%- include("../partials/footer")%>